@layer reset, default, layouts, utilities;

@layer reset {
	* {
		box-sizing:border-box;
		margin:0;
		padding:0
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: inherit;
		font-weight: inherit;
	}
	a {
		color: inherit;
	}
	table {
		text-indent: 0;
		border-color: inherit;
		border-collapse: collapse;
	}
    button {
        cursor: pointer;
    }
	button, input, select {
		font: inherit;
		color: inherit;
		letter-spacing: inherit;
        background: unset;
	}
	menu, ol, ul {
		list-style: none;
	}
	audio, canvas, embed, iframe, img, object, svg, video {
		display: block;
	}
}

@layer default {
	:root {
		--phi: calc((1 + sqrt(5)) / 2);
		--m: 1rem;
		--xs: calc(var(--m) * pow(var(--phi), -2));
		--s: calc(var(--m) * pow(var(--phi), -1));
		--l: calc(var(--m) * pow(var(--phi), 1));
		--xl: calc(var(--m) * pow(var(--phi), 2));
		--xxl: calc(var(--m) * pow(var(--phi), 3));
	}
}

@layer layouts {
	/* center shit */
	.gc {
		display: grid;
        place-content: center;
        place-items: center;
    }

	/* stack shit */
    .gz {
		display: grid;
    }
    .gz > * {
		grid-area: 1/1;
    }

	/* stretch shit */
	.gs {
		display: grid;
		align-content: stretch;
		place-items: stretch;
	}

    /* it's dangerous to go alone, take this */
    .gq {
        container-type: inline-size;
    }

	/* golden grids */
	.g01 {
        display: grid;
        grid-template-columns: 1fr 1.618fr;
        grid-template-rows: 1fr;
    }
	@container (max-width: 575px) {
        .g01 {
            display: grid;
			grid-template-rows: 1fr 1.618fr;
			grid-template-columns: 1fr;
		}
	}
    .g10 {
        display: grid;
        grid-template-columns: 1.618fr 1fr;
        grid-template-rows: 1fr;
    }

	@container (max-width: 575px) {
        .g10 {
            display: grid;
			grid-template-rows: 1.618fr 1fr;
			grid-template-columns: 1fr;
		}
	}
}

@layer utilities {
	.fs {
		max-width: 100dvi;
		min-height: 100dvb;
	}

	.gw {
		width: 61.8%;
	}

	.gpx {
		padding-inline: 19%;
	}
	.gpy {
		padding-block: 19%;
	}
	.gmx {
		margin-inline: 19%;
	}
	.gmy {
		margin-block: 19%;
	}
	
	/* text shit */
	.gtxs { font-size: var(--xs); }
	.gts  { font-size: var(--s); }
	.gtm  { font-size: var(--m); }
	.gtl  { font-size: var(--l); }
	.gtxl { font-size: var(--xl); }
	.gtxxl { font-size: var(--xxl); }
}